[MASTER]
# Add <file or directory> to the black list. It should be a base name, not a
# path. You may set this option multiple times.
ignore=test

# Pickle collected data for later comparisons.
persistent=yes

[MESSAGES CONTROL]
disable=broad-except, fixme, missing-module-docstring, missing-class-docstring, missing-function-docstring, too-many-arguments, too-few-public-methods, abstract-method

[TYPECHECK]
# List of members which are set dynamically and missed by pylint inference
# system, and so shouldn't trigger E0201 when accessed. Python regular
# expressions are accepted.
generated-members=async_request,objects

[VARIABLES]
# Tells wether we should check for unused import in __init__ files.
init-import=no

# A regular expression matching names used for dummy variables (i.e. not used).
dummy-variables-rgx=_|dummy
